/tmp
.DS_Store

# ignore files containing sensitive info
config.ru
.bundle
*.gem

.rvmrc
.rspec

_SpecRunner.html

/node_modules

/spec/internal/db/combustion_test.sqlite3
/vcr_cassettes
*.swp
*.swo

.ruby-version
.rbenv-gemset
.rbenv-gemsets
